.ContenedorCnavas{
    margin-top: 8vh;
    width: 76.3%;
    height: 83.8vh;
   
   background: #16171e;
    background-image: linear-gradient(to top, #14141b 40%, #0d031c 100%);
   
    position: fixed;
    transform: translateX(30.9%);
     display: flex;
     justify-content: center;
     align-items: center;
  overflow: hidden;
    
}