/* FILTROS CON AJUSTES*/
.fire-settings{
    margin-top: 4px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 95%;
    height: 50px;
    background-image: linear-gradient(135deg, #131624 0%, #1f1728 100%);
    border-radius: 4px;
    color: #64c8d5;
    cursor: pointer;
    overflow: hidden;
}
.fire-settings.ocultar{
    display: none;
}
.fire-settings:hover{
    background-image: linear-gradient(to top, #1f1d3a 0%, #300349 100%);
   
}
.fire-settings.active{
    background-image: linear-gradient(135deg, #0f217200 0%, #34056400 100%);
    height: 100%;
    cursor:context-menu;
    align-content:flex-start;
    font-size: 18px;
    color: #fff;
}
/*SLIDERS AJUSTOS*/
.Action{
    margin-top: 30px;
    display: none; /*AQUI LE CAMBIAMOS A FLEX EN EL TSX*/
    flex-wrap: wrap;
    
    padding-top: 20px;
    width: 98%;
    height: auto;
    border-radius: 5px;
    border:1px solid #43465e;
    background-image: linear-gradient(60deg, #13171c 0%, #031529 100%);
    overflow: hidden;
}
.Action.active{
    display: flex;
}
.Action.ocultar{
    display: none;
}
.retion{
    display: flex;
    align-items: center;
    width: 100%;
}
.retionuno{
    width: 70%;
    height: 60%;
    display: flex;
    padding-left: 10px;
}
.retiondos{
    display: flex;
    width: 30%;
    justify-content: center;
}
.ValorGamma{
    border-radius: 2px;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(195, 237, 237);
    width: 70%;
    height: 24px;
    background-color:transparent;
    border: 1px solid rgb(100, 107, 126);
    outline: none;
    -moz-appearance: textfield;

 }
 .ValorGamma::-webkit-outer-spin-button,
.ValorGamma::-webkit-inner-spin-button
{
 -webkit-appearance: none;
}

.main2{
    margin-bottom: 10px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    width: auto;
    height: 25px;
    overflow: hidden;
    
}
.range2{
    
    width: 200px;
    height: 2px;
    background-color:transparent;
    appearance: none;
    outline: none;
    position: absolute;
    z-index: 5;
}
.range2::-webkit-slider-thumb{
    
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #242631;
    border-radius: 50%;
    border: 2px solid rgb(48, 156, 245);
    cursor: pointer;
    
    
}
.selector2{
   width:0px;/*Aqui puedes jugar dependiendo*/
    height: 2px;
    z-index: 2;
   position: absolute;
   background: linear-gradient(103deg, rgb(148, 77, 255) 0%, rgb(17, 207, 241) 100%);

    border-radius: 2px;
}
.fondo2{
    border-radius: 2px;
    width: 200px;
    height: 2px;
    background-color: #393d4c;
}
.Action p{
    color: rgb(193, 206, 239);
    font-size: 14px;
    margin-bottom:15px;
    margin-left: 5px;
}

.Actions-CA{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: 100%;
    height: 70px;
}
.Bca{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px
    
}
.Bca.cancel{
  
    font-weight: bolder;
    background-image: linear-gradient(60deg, #252c35 0%, #062447 100%);
  }
.Bca.cancel:hover{
    background-image: linear-gradient(60deg, #38424f 0%, #0d396c 100%);

}
.Bca.apli{
    
    margin-right: 5px;
    background: linear-gradient(103deg, rgba(238,77,255,1) 0%, rgb(17, 207, 241) 100%);
}
.Bca.apli:hover{
    background: linear-gradient(103deg, rgb(17, 207, 241)  0%,  rgba(238,77,255,1) 100%);
    
}
#Apli p{
    margin-bottom: 0;
    margin-left: 0;
    font-weight: bolder;
    color: #000;
}
#cancel p{
    margin-bottom: 0;
    margin-left: 0;
    
}