.ImageSE{
    width: 99%;
    height: 90vh;
    background-color: rgb(13, 43, 33);
}
.coaa2{
    width: 190px;
    height: 40px;
   
    color: #8381db;
    margin-top: 20px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
  }
  .coaa2a:hover{
    box-shadow:0px 0px 3px 0px rgba(74, 51, 164, 0.845) ;
    color: #81d1db;
    background-image: linear-gradient(to right,  #191931  20%,  #1f1e23 100%);
}